@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    font-size: 17px;
}

.nav_links {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

td {
    padding: 35px;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #aef224;
}

.hr1 {
    background-color: #000000;
    border: 0;
    border-radius: 1px;
    margin: 0;
}

.logo2 {
    cursor: zoom-in;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #b86b46;
}

h2 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #000000;
    position: relative;
    padding: 300px;
}

input[type="text"],
input[type="subject"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    padding: auto;
}

.h1co1 {
    background-color: #81ce34;
    padding: 4px;
    height: 19px;
    text-align: left;
    font-family: "Noto Sans", sans-serif;
}

.container1 {
    background-color: #ece2e2;
    border-radius: 3px;
    padding: 2px 20px 15px 20px;
    border: 1px solid color lightcoral;
}

.h1co {
    background-color: #81ce34;
    margin: auto;
    align-items: center;
    font-size: 17px;
    padding: 8px;
    text-indent: 2px;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50px;
    border-radius: 3px;
}

input[type="button"] {
    padding: 15px 10px;
    background-color: #dd2a7e;
    border-radius: 35px;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 0;
}

input[type="button"]:hover {
    background-color: #dd7b2af3;
}

button {
    padding: 9px 25px;
    background-color: #b86b46;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #f19b73;
}

.bottom-container {
    background-color: #aef224;
    padding: 30px;
}

.foot a:hover {
    color: #b86b46;
}

table.sec {
    padding-top: 10px;
    padding: 90px;
    border: 2px solid;
    border-radius: 20px;
}

.code-image {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.think-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.foot-logo {
    padding: 20px;
    margin-left: 500px;
    float: left;
}

.copyright {
    margin-right: 500px;
}

/* Media queries */

/* For screens smaller than 768px (typically mobile phones) */
@media (max-width: 767px) {
    .top-container {
        padding: 150px;
    }
    .foot-logo {
        margin-left: 50px;
    }
    .copyright {
        margin-right: 50px;
    }
}

/* For screens between 768px and 991px (typically tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .top-container {
        padding: 250px;
    }
    .foot-logo {
        margin-left: 200px;
    }
    .copyright {
        margin-right: 200px;
    }
}

/* For screens larger than 992px (typically desktops) */
@media (min-width: 992px) {
    .top-container {
        padding: 300px;
    }
    .foot-logo {
        margin-left: 500px;
    }
    .copyright {
        margin-right: 500px;
    }
}
