@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Merriweather', serif; 
    font: whitesmoke; /* This line seems to be unnecessary, you may remove it */
}

.nav_links {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

td {
    padding: 35px;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #aef224;
}

.logo2 {
    cursor: zoom-in;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #b86b46;
}

button {
    padding: 9px 25px;
    background-color: #b86b46;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: #f19b73;
}

/* Adding media queries */
/* For screens smaller than 768px (typically mobile phones) */
@media (max-width: 767px) {
    header {
        padding: 20px 5px; /* Adjusting padding for smaller screens */
    }
    .nav_links li {
        padding: 0px 10px; /* Adjusting padding for smaller screens */
    }
    .top-container {
        padding: 150px; /* Adjusting padding for smaller screens */
    }
    .middle-container {
        padding-left: 10px; /* Adjusting padding for smaller screens */
    }
    .foot-logo {
        margin-left: 50px; /* Adjusting margin for smaller screens */
    }
    .copyright {
        margin-right: 50px; /* Adjusting margin for smaller screens */
    }
}

/* For screens between 768px and 991px (typically tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 25px 10px; /* Adjusting padding for tablets */
    }
    .nav_links li {
        padding: 0px 15px; /* Adjusting padding for tablets */
    }
    .top-container {
        padding: 250px; /* Adjusting padding for tablets */
    }
    .middle-container {
        padding-left: 50px; /* Adjusting padding for tablets */
    }
    .foot-logo {
        margin-left: 200px; /* Adjusting margin for tablets */
    }
    .copyright {
        margin-right: 200px; /* Adjusting margin for tablets */
    }
}

/* For screens larger than 992px (typically desktops) */
@media (min-width: 992px) {
    .top-container {
        padding: 300px; /* Adjusting padding for desktops */
    }
    /* You may add further adjustments for larger screens here */
}
